*,
*::before,
*::after{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*nothing to change */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*this is for 100percent viewport screen */
}

ul{
    list-style: none;    
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.content{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    min-height: 500px;
}

.first-slide{
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    max-height: 100%;
}

.text-container h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;;
    max-width: 100%;
}

.text-container p{
    min-width: 400px;
    font-size: 20px;
    color: #F9FAF8;
    max-width: 100%;
}
.signup-button{
    background-color: #3882F8;
    color: white;
    padding: 0.4em;
    width: 70px;
    border: none;
    border-radius: 3px;
    font-size: 0.5;
    font-weight: 500;
    cursor: pointer;
}

.signup-button:hover{
    background-color: #0040a7;
}

.first-slide .main-container{
    display: flex;
    max-height: 400px;
    gap: 100px;
    max-width: 1000px;
}

.first-slide img{
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
}

.second-slide{
    background-color:#F9FAF8;
    flex-direction: column;
}

.second-slide h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.second-slide .main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    gap: 70px;
}

.info-container{
    max-width: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-container img{
    width: 170px;
    height: 200px;
    border-radius: 5%;

}

.info-container p{
    text-align: center;
}

img 

.third-slide{
    background-color: #E5E7EB;
}

/*nothing to change */
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}