*,
*::before,
*::after{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*this is for 100percent viewport screen */
}

ul{
    list-style: none;    
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.content{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    min-height: 500px;
}

.first-slide{
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    max-height: 100%;
}

.text-container h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;;
    max-width: 100%;
}

.text-container p{
    min-width: 400px;
    font-size: 20px;
    color: #F9FAF8;
    max-width: 100%;
}
.message-button{
    background-color: #3882F8;
    color: white;
    padding: 0.4em;
    width: 90px;
    border: none;
    border-radius: 3px;
    font-size: 0.5;
    font-weight: 500;
    cursor: pointer;
}

.message-button:hover{
    background-color: #0040a7;
}

.first-slide .main-container{
    display: flex;
    max-height: 400px;
    gap: 100px;
    max-width: 1000px;
}

.first-slide img{
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
}

.second-slide{
    background-color:#F9FAF8;
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.second-slide h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex: 1;
}

.second-slide .main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    flex: 1;
}

.info-container{
    max-width: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-container img{
    width: auto;
    height: 170px;
    border-radius: 5%;
}

.info-container p{
    text-align: center;
}

.third-slide{
    display: flex;
    background-color: #E5E7EB;
    align-items: center; 
    justify-content: center;
}

.third-slide .main-container{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}
.third-slide p{
    font-style: italic;
    font-size: 36px;
    color:#1F2937;    
}

.third-slide h1{
    color:#1F2937;
    align-self: flex-end;
}

.fourth-slide{
    justify-content: center;
    align-items: center;
    min-height: 420px;
}

.fourth-slide .main-container{
    display: flex;
    min-width: 80%;
    height: 150px;
    border-radius: 10px;
    background-color:#3882F8;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
}

.fourth-slide .text-container .head{
    font-weight: 900;
}

.fourth-slide .message-button {
    height: 40px;
    border: 2px solid #F9FAF8;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}